.features {
  min-height: 1003px;/*for grids*/
  outline: $outline-grid; /*for grids*/
}

.features__slogan {
  min-height: 220px;/*for grids*/
  outline: $outline-block; /*for grids*/
  @mixin container;
  padding: 45px 0 33px;
  @mixin font-style 24px, 120%, 300;
  box-sizing: border-box;
}

.features__title {
  @mixin visually-hidden;
}

.features__text {
  margin: 0;
  font-style: inherit;
  text-align: center;

  &--indent {
    margin-top: 30px;
  }
}

.features__wrapper {
  color: inherit;
  background-color: $insert-bg;
}

.features__inner {
  @mixin container;
  padding-top: 82px;
  padding-bottom: 310px;
  background-image: url(/img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: 50% 109%;
}

.features__list {
  outline: $outline-block; /*for grids*/
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  margin-bottom: 22px;
  outline: $outline-item; /*for grids*/
  font-style: inherit;
  color: inherit;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.features__item-subtitle {
  margin: 0;
  margin-bottom: 10px;
  @mixin font-style 18px, 1.3, 700;
  color: #000000;
}

.features__item-desc {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
}

.features__item-desc br {
  display: none;
}

@media ($tablet-widths) {

  .features__text {
    margin: 0;
    font-size: 40px;
    line-height: 120%;
  }

  .features__inner {
    background-position: 0 109%;
  }

  .features__list {
    width: 310px;
    margin-left: auto;
  }

  .features__item {
    text-align: left;
  }

}

@media ($desktop-widths) {

  .features__inner {
    background: none;
  }

  .features__text {
    font-size: 50px;
  }

  .features__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
  }

  .features__item {
    width: 250px;
    margin-bottom: 0;
    padding: 5px;
    padding-top: 360px;
    text-align: center;
    background-image: url(/img/iphone-screen-mobile@1x.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

  .features__item-subtitle {
    font-size: 30px;
    line-height: 1;
  }

  .features__item-desc {
    font-size: 18px;
  }

  .features__item-desc br {
    display: none;
  }


}
