.page-title {
  outline: $outline-grid; /*for grids*/
  padding-top: 395px;
  color: $header-color;
  background-color: $bg-color;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: 50% -25%;
  background-repeat: no-repeat;

  &--iphone {
    background-image: url(../img/iphone-hand-mobile@1x.png),
                      url(../img/bg-back-mobile@1x.jpg);
    background-position: 0 29%,
                         50% -25%;
    background-repeat: no-repeat;
  }

  &--img {
    min-height: 170px;
    background-position:  50% -70px;
  }
}

.page-title__caption {
  display: block;
  @mixin container;
  padding-top: 32px;
  @mixin font-style 24px, 120%, 300;
  color: $header-color;
  text-align: center;

  &--hidden {
    @mixin visually-hidden;
  }
}


@media ($tablet-widths) {

  .page-title {
    padding-bottom: 92px;
    padding-top: 75px;

    &--iphone {
      background-position: 50% 100%, 50% -25%;
    }
  }

}
