@define-mixin font-style $font-size: 14px, $line-height: 2, $font-weight: 400 {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@define-mixin container $width: 320px, $margin: 0 auto, $padding: 0 20px {
  width: $width;
  margin: $margin;
  padding: $padding;
}

@define-mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
