$body-bg: #ffffff;
$insert-bg: #f2f2f2;
$bg-color: #283645; /* цвет используется и в состоянии hover*/
$header-color: #ffffff;
$highlight-color: #d22856; /* цвет используется и в состоянии hover меню*/
$color-active: color($bg-color a(30%)); /* цвет используется в состоянии active*/
$header-color-active: color($header-color a(30%)); /* цвет используется в состоянии active меню*/

$btn-border: 3px solid color($bg-color a(10%));
$input-border: 2px solid #e5e5e5;

$tablet-widths: (min-width: 700px);
$desktop-widths: (min-width: 1200px);

$outline-grid: 3px solid red; /*for grids*/
$outline-block: 3px solid green; /*for grids*/
$outline-item: 3px solid yellow; /*for grids*/
$outline-block-wrapper: 2px dashed darkorange; /*for grids*/
