.reviews {
  outline: $outline-block; /*for grids*/
  padding: 10px 0 45px;
}

.reviews__title--hidden {
  @mixin visually-hidden;
}

.reviews__list {
  @mixin container;
}

.reviews__item {
  outline: $outline-item; /*for grids*/
  margin: 0;
  text-align:center;
}

.reviews__author-name {
  margin-bottom: 20px;
  @mixin font-style 18px, 2.1, 700;
  font-style: normal;
  color: #000000;

  & span  {
    display: none;
  }
}

.reviews__text {
  margin: 0;
  font-style: inherit;
  line-height: 2.1;
  color: inherit;
}

@media ($tablet-widths) {

  .reviews__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .reviews__author-name {
    width: 100%;
    order: 2;
    margin: 40px 0 0;
    font-size: 20px;
    line-height: 1.5;

    & span  {
      display: block;
      @mixin font-style 14px, 2.1, 400;
      color: $bg-color;
    }
  }

  .reviews__text {
    width: 100%;
    padding: 0 20px;
    font-size: 18px;
    line-height: 1.7;
  }

}

  @media ($desktop-widths) {

    .reviews__item {
      width: 820px;
      padding: 100px 45px 0;
    }

    .reviews__author-name {
    font-size: 24px;
    line-height: 1.25;

    & span  {
      font-size: 18px;
      line-height: 1.7;
    }
  }

  }
