.download {
  min-height: 255px; /*for grids*/
  outline: $outline-grid; /*for grids*/
  padding: 28px 0 18px;
  font-weight: 300;
  color: $header-color;
  background-color: #1d2631;
  box-sizing: border-box;
}

.download__wrapper {
  @mixin container;
}

.download__title--hidden {
  @mixin visually-hidden;
}

.download__subtitle {
  display: none;
  padding: 0 40px;
  @mixin font-style 40px, 120%, 300;
  text-align: center;
}

.download__list {
  height: 60px; /*for grids*/
  outline: $outline-item; /*for grids*/
  display: block;
  margin: 0;
  margin-top: 27px;
  padding: 0;
  list-style: none;
}

.download__text {
  outline: $outline-item; /*for grids*/
  margin: 25px 0 0;
  font-size: 18px;
}

@media ($tablet-widths) {

  .download {
    display: flex;
    background: transparent;
  }

  .download__subtitle {
    display: block;
    width: 300px;
    margin: 0;
    margin-bottom: 40px;
  }

  .download__list {
    width: 300px;
  }

  .download__text {
    width: 300px;
  }

}

@media ($desktop-widths) {

  .download__subtitle {
    font-size: 50px;
  }

}
